#netbeans project
nbproject/

#zend studio project
.settings/
.buildpath
.project

#mac-files
._*
.AppleDouble
.DS_Store
.idea

#sensitive zend framework files
public/.htaccess
application/configs/application.ini

